<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="600">
    <Properties>
        <Property name="log_home" value="../logs" />
        <Property name="log_level" value="info" />
        <Property name="log_charset" value="UTF-8" />
        <Property name="file_max_size" value="10MB" />
        <Property name="file_min_interval" value="1" />
        <Property name="file_max_strategy" value="10" />
        <Property name="lpattern_style" value="FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=white" />
        <!--<Property name="console_pattern" value="%highlight{[%d{yyyy-MM-dd HH:mm:ss.SSS}] - [%-5level] [%15.15t] %logger{1.}.%M()/%L - %m%n}{${pattern_style}}" />-->
        <Property name="console_pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] - [%-5level] [%15.15t] %logger{1.}.%M()/%L - %m%n" />
        <Property name="file_pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] - [%-5level] [%15.15t] %logger{1.}.%M()/%L - %msg%xEx%n" />
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout>
                <charset>${log_charset}</charset>
                <pattern>${console_pattern}</pattern>
            </PatternLayout>
        </Console>
        <!--
        <RollingRandomAccessFile name="CATALINA" immediateFlush="true" fileName="${log_home}/catalina.log" filePattern="${log_home}/catalina.log.%d{yyyyMMdd}-%i.gz">
            <PatternLayout>
                <charset>${log_charset}</charset>
                <pattern>${file_pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${file_max_size}"/>
                <TimeBasedTriggeringPolicy interval="${file_min_interval}" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="${file_max_strategy}" />
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="LOCALHOST" immediateFlush="true" fileName="${log_home}/localhost.log" filePattern="${log_home}/localhost.log.%d{yyyyMMdd}.gz">
            <PatternLayout>
                <charset>${log_charset}</charset>
                <pattern>${file_pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${file_max_size}"/>
                <TimeBasedTriggeringPolicy interval="${file_min_interval}" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="${file_max_strategy}" />
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="MANAGER" immediateFlush="true" fileName="${log_home}/manager.log" filePattern="${log_home}/manager.log.%d{yyyyMMdd}.gz">
            <PatternLayout>
                <charset>${log_charset}</charset>
                <pattern>${file_pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${file_max_size}"/>
                <TimeBasedTriggeringPolicy interval="${file_min_interval}" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="HOST-MANAGER" immediateFlush="true" fileName="${log_home}/host-manager.log" filePattern="${log_home}/host-manager.log.%d{yyyyMMdd}.gz"> 
            <PatternLayout>
                <charset>${log_charset}</charset>
                <pattern>${file_pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${file_max_size}"/>
                <TimeBasedTriggeringPolicy interval="${file_min_interval}" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="${file_max_strategy}" />
        </RollingRandomAccessFile>
        -->
    </Appenders>
    <Loggers>
        <Root level="${sys:log_level}">
            <!--<AppenderRef ref="CATALINA" />-->
            <AppenderRef ref="CONSOLE" />
        </Root>
        <!--
        <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost]" level="${sys:log_level}">
            <AppenderRef ref="LOCALHOST" />
        </Logger>
        <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/manager]" level="${sys:log_level}" additivity="false">
            <AppenderRef ref="MANAGER" />
        </Logger>
        <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/host-manager]" level="${sys:log_level}" additivity="false">
            <AppenderRef ref="HOST-MANAGER" />
        </Logger>
        -->
    </Loggers>
</Configuration>
